@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
.nav-item {
  @apply px-4;
  @apply cursor-pointer;
  position: relative;
  color: #fff;
  font-weight: 600;
}

/* Box behind the navbar item */
.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 80%; /* Adjust the width of the box */
  height: 4px; /* Set the height of the box to a smaller value */
  background-color: #3b82f6; /* Update to a blue color */
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: -1;
  border-radius: 4px; /* Add rounded corners to the box */
}

.nav-item:hover::before {
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}

/* Adjust padding to center the text within the box */
.nav-item {
  padding: 0.5rem 1rem; /* Slightly reduce padding for a more compact look */
}

.bg-cyan-800:hover::before,
.bg-cyan-800:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background-color: rgba(29, 78, 216, 0.2);
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
